.WalletPopUp {
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 542px;
  height: 808px;
  background-color: #ffffff;
  z-index: 999;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 25px;
  padding: 10px;
  background: $gradient;

  &__background {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    background-color: $color-mono000;
    border-radius: 16px;
  }
}
