.LandingPage {
  position: relative;
  width: 100%;
  height: 100%;
  &__background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__about {
    position: relative;
    width: 100%;
    height: 100vh;
    top: calc(100vh - 180px - 60px);
    background-color: $color-mono000;
    border-top: 1px solid $color-mono1000;
    &__fold {
      position: absolute;
      z-index: 0;
      top: -141px;
      left: 0;
      width: 100%;
      height: 140px;
      background-color: rgba($color: $color-mono1000, $alpha: 0.7);
      clip-path: polygon(45% 0, 55% 0, 100% 100%, 0% 100%);
      &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: calc(50% + 1px);
        left: 50%;
        transform: translate(-50%, -50%);
        width: calc(100%);
        height: calc(140px);
        background-color: $color-mono000;
        clip-path: polygon(45% 0, 55% 0, 100% 100%, 0% 100%);
      }
    }
  }
}
