.BalanceField {
  display: flex;
  align-items: center;
  padding: 4px 6px;
  padding-left: 10px;
  border-radius: 999px;
  border: 1px solid $color-mono1000;
  width: fit-content;
  margin: auto;

  &__icon {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    overflow: hidden;
    img {
      width: 24px;
      height: 24px;
    }
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;

    &__balance {
      display: flex;
      white-space: nowrap;
    }
  }
}
