.CircleDropdown {
  z-index: 999;
  width: 40px;
  height: 40px;
  border-radius: 999px;
  border: 1px solid $color-mono1000;
  &__list {
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 10px;
    border-radius: 16px;
    background-color: $color-mono000;
    border: 1px solid $color-mono1000;
    padding: 16px;
    width: fit-content;
    &__item {
      width: 100%;
      white-space: nowrap;
      padding: 10px;
      border-radius: calc(16px * 0.64);
      cursor: pointer;
      &:hover {
        background-color: $color-mono200;
      }
    }
  }
}
