.AccountField {
  display: flex;
  align-items: center;
  padding: 4px 6px;
  border-radius: 999px;
  border: 1px solid $color-mono1000;
  width: fit-content;
  margin: auto;

  &__icon {
    width: 24px;
    height: 24px;
    border-radius: 999px;
  }

  &__details {
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;

    &__account,
    &__button {
      padding: 4px 10px;
      border-radius: 999px;
      margin-right: 6px;
      border: 1px solid $color-mono1000;
    }

    &__button {
      cursor: pointer;
      &:hover {
        background-color: rgba($color: $color-mono1000, $alpha: 0.1);
      }
    }
  }
}
