.Header {
  height: 60px;
  background-color: $color-mono000;
  border-bottom: 1px solid $color-mono1000;
  display: flex;
  align-items: center;
  padding: 11px 25px;

  &__left {
    display: flex;
    align-content: center;
    justify-self: left;
    width: 100%;
  }

  &__center {
    justify-self: center;
    width: 100%;
  }

  &__right {
    justify-self: right;
    width: 100%;
  }

  &__logo {
    font-size: 32px;
    color: $color-mono700;
    font-weight: 300;
    width: fit-content;
    cursor: pointer;
  }

  .Button {
    width: fit-content;
    margin-left: 24px;
  }

  &__nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 14px;

    &__item {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px 10px;
      border: 2px solid transparent;
      font-weight: 18px;
      color: $color-mono700;
      cursor: pointer;

      &:hover {
        color: $color-mono1000;
      }

      &.selected {
        border: 2px solid $color-mono1000;
        border-radius: 999px;
      }

      &:last-child {
        padding: 2px;
      }
    }
  }
}
