$color-mono000: #ffffff;
$color-mono200: #efefef;
$color-mono700: #474747;
$color-mono1000: #000000;

$color-cool100: #effbff;

$color-good100: #fafff9;
$color-good500: #83ffa6;

$color-hot100: #fff6fe;

$gradient: linear-gradient(
  90deg,
  #aefffa 0%,
  #aeffc5 22.5%,
  #fffcae 49%,
  #fdaeff 74%,
  #ff6477 100%
);

@mixin animation {
  @keyframes fadeOut {
    0% {
      background-color: rgba($color-mono000, 1);
    }
    50% {
      background-color: rgba($color-mono000, 0.5);
    }
    100% {
      background-color: rgba($color-mono000, 0);
    }
  }
}
