* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  height: 100vh;
  overflow: hidden;
}

@import './_definitions.scss';

@import './App.scss';
@import './pages/avatar/AvatarPage.scss';
@import './pages/catalogue/CataloguePage.scss';
@import './pages/landing/LandingPage.scss';
@import './pages/settings/components/AppSettings.scss';
@import './pages/settings/components/ConnectWalletMessage/ConnectWalletMessage.scss';
@import './pages/settings/SettingsPage.scss';

@import './components/Button/Button.scss';
@import './components/CardHeader/CardHeader.scss';
@import './components/CatalogueCard/CatalogueCard.scss';
@import './components/CircleDropdown/CircleDropdown.scss';
@import './components/Drawer/Drawer.scss';
@import './components/Header/Header.scss';
@import './components/PageHeading/PageHeading.scss';
@import './components/RainbowBorder/RainbowBorder.scss';
@import './components/WalletPopUp/WalletPopUp.scss';
